body {
  background-color: #fff;
}

img {
  -webkit-user-drag: none;
}

h1 {
  font-size: 2.1rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.5rem;
}

.logo {
  height: 32px;
  line-height: 32px;
  text-align: center;
  margin: 16px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-layout .site-layout-background {
  background: #fff;
}

.home {
  height: 100%;
}

.home .card_icon:hover {
  color: #1890FF;
}

.right_container::-webkit-scrollbar {
  display: none;
}

.d_f {
  display: flex !important;
}

.f_c {
  flex-direction: column !important;
}

.a_c {
  align-items: center !important;
}

.mr_s {
  margin-right: 10px;
}

.logo-icon svg {
  width: 35px;
  height: 35px;
}

.logo-icon div {
  width: 35px;
  height: 35px;
}

.logo-icon path {
  fill: none;
  stroke: white;
  stroke-width: 40;
  stroke-dasharray: var(--l);
  stroke-dashoffset: var(--l);
  animation: stroke 5s infinite forwards;
}

@keyframes stroke {
  to {
    stroke-dashoffset: 0;
  }
}
